.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin: auto;
}

.table th,
.table td {
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.table tr:hover td {
    background-color: lightblue;
    cursor: pointer;
}

.table tr:active td {
    background-color: lightblue;
    cursor: pointer;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
}

.table tr.active {
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    background-color: lightblue;
}